<h2> Search Form</h2>

<nav class="navbar bg-body-tertiary">
  <%= form_with(model: @flight, method: :get, url: "flights#index", local: true) do |form| %>
    <div class ="container-fluid">
      <%= form.label :from,'From', class:'label' %>
      <%= select_tag(:departure_airport_id, options_for_select(@departure_airport_options )) %>
    </div>
    <br>

    <div class ="container-fluid">
      <%= form.label :to, 'To', class:'label' %>
      <%= select_tag(:arrival_airport_id, options_for_select(@departure_airport_options )) %>
    </div>
    <br>

    <div class ="container-fluid">
      <%= form.label :passenger_count, 'Passengers', class:'label' %>
      <%= select_tag(:passenger_count, options_for_select(@passengers)) %>
    </div>
    <br>

    <div class ="container-fluid">
      <%= form.label :departure_date, 'Travel Date', class:'label' %>
      <%= select_tag(:departure_date, options_for_select(@departure_date)) %>
    </div>
    <br>

    <div class ="container-fluid">
        <%= form.submit 'Search', class: 'button', id: 'search-button' %>
    </div>
  <% end %>
</nav>

