<% if @searched_flights.present? %>

  <h3> Matching Flights </h3>
  <nav class="navbar bg-body-tertiary">
    <%= form_with(model: @flight, method: :get, url: new_booking_path, local: true) do |form| %>

      <div class ="container-fluid">
        <% @searched_flights.each do |flight| %>
        <%= form.radio_button :flight_id, flight.id, class:'label' %>
          <%= hidden_field_tag :passenger_count, @passenger_count %>

          <div>
          <%= "#{flight.departure_airport.name} to #{flight.arrival_airport.name}
          leaving #{formatted_date(flight.flight_time)}" %>
          </div>

          <div>
             <%= "This flight will last #{flight.flight_duration.to_i} hours. You're booking #{@passenger_count} passengers" %>
          </div>


          <br>
        <% end %>

      </div>
      <br>

      <div class ="container-fluid">
        <%= form.submit 'Search', class: 'button', id: 'search-button' %>
      </div>
    <% end %>


  </nav>

<% end %>
