<h1> New Booking Form </h1>

<nav class="navbar bg-body-tertiary">
  <%= form_with(model: @booking, local: true) do |form| %>
    <%= form.fields_for :passengers do |p| %>
      <% hidden_field_tag :flight_id, @flight.id %>

        <div style="margin: 25px">
          <div class="container-fluid">
            <%= p.text_field :first_name, placeholder: "First Name", required: true %>
          </div>

          <div class="container-fluid">
            <%= p.text_field :last_name, placeholder: "Last Name", required: true %>
          </div>

          <div class="container-fluid">
            <%= p.text_field :email, placeholder: "E-mail", required: true %>
          </div>

        </div>

    <% end %>

    <div class="container-fluid">
      <%= form.submit "Submit" %>
    </div>
  <% end %>
</nav>




<%#  redirect_to :root_path, notice: "Successful Booking!" %>