<h1> New booking page </h1>

Passenger count = <%= @passenger_count %>
<br>
Flight Departure - <%= @flight.departure_airport.name%>
<br>
Flight Arrival - <%= @flight.arrival_airport.name %>
<br>
Flight duration - <%= @flight.flight_duration %>


<div>
  <br>
  <%= render 'new_booking' %>
</div>